<h2 mat-dialog-title>Change Role</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="selectedRole" panelClass="role-select-panel">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="selectedRole" cdkFocusInitial>Save</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>