<div class="nav-items">
  <a (click)="navigateToDashboard()">
    <div class="nav-item">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </div>
  </a>

  <a (click)="navigateToProducts()" > 
    <div class="nav-item">
      <mat-icon>shopping_cart</mat-icon>
        <span>Products</span>
    </div>
  </a>

  <a (click)="navigateToCategories()" > 
    <div class="nav-item">
      <mat-icon>category</mat-icon>
      <span>Categories</span>
    </div>
  </a>
  <a (click)="navigateToAdmins()" > 
    <div class="nav-item">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admins</span>
    </div>
  </a>

  <a (click)="navigateTocarousel()" > 
  <div class="nav-item">
    <mat-icon>view_carousel</mat-icon>
          <span>carousel </span>
  </div>
  </a>

    <div class="nav-item">
      <mat-icon>mail</mat-icon>
      <span>Contact</span>
    </div>
    <div class="nav-item">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </div>
  </div>